<div class="flex flex-col h-[100vh] items-center justify-center">
    <div>
        <div class="text-2xl sm:text-3xl leading-9">
            <div>Give your <span class="text-indigo-500 font-medium">Artistic</span></div>
            <div class="ml-[4rem] sm:ml-[10rem]">
                talent a <span class="text-indigo-500 font-medium">Shot ;0</span>
            </div>
        </div>

        <div class="flex flex-col items-start mt-10 w-[100%]">
            <input class="flex-1 border px-3 py-1 placeholder:italic" id="room-name-input" type="text" placeholder="eg. DaVinci">
            <button class="font-medium border mt-5 px-3 py-1 bg-indigo-500 text-white" id="enter-room-btn">Enter</button>
        </div>
    </div>
</div>

<script>
    const roomNameInput = document.getElementById("room-name-input")
    document.getElementById("enter-room-btn").addEventListener('click', e=> {
        if(roomNameInput.value.trim() == '') alert("Enter a valid name");
        window.location.href = `/board/${roomNameInput.value.trim()}`
    })
</script>